<header th:fragment="header">
    <nav class="navbar navbar-expand-lg navbar-light bg-light">
        <a class="navbar-brand" th:href="@{/}">MeowMeowBean</a>
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#topNavbar">
            <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="topNavbar">
            <ul class="navbar-nav mr-auto">
                <li class="nav-item">
                    <a class="nav-link" th:href="@{/}">Posts</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" th:href="@{/users}">Users</a>
                </li>
                <li>
                    <a class="nav-link" th:href="@{/posts/new}">Add Post</a>
                </li>
                <li>
                    <a class="nav-link" th:href="@{/users/new}">Add User</a>
                </li>
            </ul>
        </div>
    </nav>
</header>